.details-info {
	width: 80%;
	display: flex;
	flex-direction: column;
}

.details-title {
	font-size: 4rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	line-height: 0.6;
	margin-top: 1em;
}

.details-title__italic {
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	font-weight: 200;
	margin-bottom: 0.em;
}

.whitehr {
	height: 3px;
	background-color: white;
	border: none;
	opacity: 0.5;
}

.details-featurecard {
	/* padding: 2em 2em 2em 0; */
	margin: 2rem 0;
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

.details-featurecard h4 {
	font-size: 3.5rem;
	font-weight: 500;
}

.details-featurecard p {
	font-size: 1.5rem;
	font-weight: 200;
	text-transform: uppercase;
}

.detailsetails-img__withinfo {
	margin: 3em 0;
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: space-between;
}

.detailsetails-img__withinfo img {
	height: 40.625rem;
	border-radius: 50% 50% 50% 48% / 30% 30% 30% 30%;
}

.details-details {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 2em;
	font-size: 1.8rem;
	color: #a6a6a6;
}

.details-details p {
	width: 95%;
	font-weight: 200;
	margin-top: 0.5em;
}

/* Responsive */
@media (width < 580px) {
	.details-title,
	.details-title__italic {
		font-size: 2.2rem;
	}

	.details-featurecard {
		grid-template-columns: 1fr;
	}

	.details-featurecard h4 {
		font-size: 2.75rem;
	}

	.details-featurecard p {
		font-size: 1.25rem;
	}

	.detailsetails-img__withinfo {
		flex-wrap: wrap;
		justify-content: center;
	}

	.detailsetails-img__withinfo img {
		width: 80%;
		height: 30%;
	}

	.details-details {
		width: 100%;
		padding: 0.5em;
		font-size: 1rem;
	}
}

@media (581px < width < 766px) {
	.details-title,
	.details-title__italic {
		font-size: 2.75rem;
	}

	.details-featurecard {
		grid-template-columns: 1fr;
	}

	.details-featurecard h4 {
		font-size: 2.9rem;
	}

	.details-featurecard p {
		font-size: 1.5rem;
	}

	.detailsetails-img__withinfo {
		flex-wrap: wrap;
		justify-content: center;
	}

	.detailsetails-img__withinfo img {
		height: 40rem;
	}

	.details-details {
		width: 100%;
		padding: 0.5em;
		font-size: 1.35rem;
	}
}

@media (767px < width < 1199px) {
	.details-title,
	.details-title__italic {
		font-size: 2.9rem;
	}

	.details-featurecard h4 {
		font-size: 2.9rem;
	}

	.detailsetails-img__withinfo {
		flex-wrap: wrap;
		justify-content: center;
	}

	.details-details {
		padding: 1em;
		font-size: 1.3rem;
		color: #a6a6a6;
	}

	.details-details p {
		width: 100%;
	}
}

@media (1200px <= width <= 1398px) {
	.detailsetails-img__withinfo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.detailsetails-img__withinfo img {
		margin-left: 2em;
	}
	.details-details {
		padding: 1em;
		font-size: 1.2rem;
	}
}
