.services-card__title {
	font-size: 2rem;
}

/* Aumenta la especificidad */
div .image,
.image {
	width: 100% !important;
	height: 15rem !important;
	object-fit: cover !important;
	object-position: center !important;
	border-radius: 8px;
	display: block;
}

/* Responsive */
@media (width < 500px) {
	.image {
		height: 200px !important;
	}
}

@media (767px < width < 1199px) {
	.image {
		height: 220px !important;
	}
}