@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* html,
body {
	overscroll-behavior: none;
} */

:root {
	background-color: #181818;
	color: white;
	font-family: 'Cormorant Garamond', serif;
	scroll-behavior: smooth;
  font-size: 20px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* asegurar que todos los elementos usen la fuente */
body,
button,
input,
textarea,
select {
	font-family: inherit;
}